body {
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-top: 10px;
  cursor: zoom-in;
}
#txt-area {
  display: flex;
  justify-content: center;
  padding: 20px;
}
textarea {
  border: none;
  width: 200px;
  resize: none;
  margin: 0 15px;
}
.text-area-dark {
  color: aquamarine;
  background-color: black;
}
#tweet-btn,
.twt-btn {
  width: 35%;
  padding: 5px;
  border-radius: 20px;
  background-color: #1da1f2;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  border: none;
  margin: 10px;
  transition: transform 0.3s ease;
}
#tweet-btn:active {
  transform: scale(1);
  border: 5px solid lightblue;
}
h1 {
  color: #0f8cdf;
  margin-bottom: 10px;
  font-size: 20px;
}
hr {
  width: 40%;
}
.heading {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-content: center;
}
#toggle-btn {
  width: 20px;
  height: 20px;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards-inner-txt {
  display: flex;
  justify-content: center;
  width: 20%;
  align-items: center;
  flex-wrap: wrap;
}
.cards-inner-txt-txt {
  padding: 10px;
  width: 100%;
}
.card-inner-txt-txt-btns {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-content: center;
}
.card-inner-txt-txt-btns > i {
  color: #1da1f2;
  cursor: pointer;
  user-select: none;
}

.sub-tweets {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-tweets > div {
  padding: 10px 5px;
  margin: 0 5px;
}
.main-sub-tweets > hr {
  width: 100%;
}
.hide {
  display: none;
}
.transparent-background {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  justify-content: center;
  align-items: center;
}
.image-modal {
  display: flex;
  justify-content: end;
  align-items: start;
  width: 300px;
  height: 300px;
}
.close-modal {
  font-size: 1.25rem;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
  background-color: red;
  border: 1px solid white;
  margin: 10px;
}
.close-modal:hover {
  background-color: white;
  color: black;
  border: 1px solid red;
}
.main-side-bar {
  margin: 20px auto;
  display: flex;
  height: 80%;
  width: 600px;
  justify-content: center;
  position: absolute;
}
.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.side-bar > i {
  margin: 10px;
}
.hide-tab {
  display: block;
}
@media only screen and (min-width: 768px) and (max-width: 1400px) {
  .main-side-bar {
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 11%;
    background-color: rgba(0, 0, 0, 1);
    border-top: 2px solid rgba(255, 255, 255, 0.7);
    bottom: 0;
    margin: 0;
  }
  .side-bar {
    width: 80%;
    flex-direction: row;
  }
  .hide-tab {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  /* Have to Mobile device */
  .main-side-bar {
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 11%;
    background-color: rgba(0, 0, 0, 1);
    border-top: 2px solid rgba(255, 255, 255, 0.7);
    bottom: 0;
    margin: 0;
  }
  .side-bar {
    width: 80%;
    flex-direction: row;
  }
  .side-bar > i {
    font-size: 1rem;
  }
  .hide-tab {
    display: none;
  }
  body {
    font-size: 0.5rem;
    font-weight: 800;
  }
}
